#contact_modal {
    display: none;

    width: 60%;
    position: absolute;
    z-index: 30;
    top: 6em;
}
.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    margin:0px;
    width: 89%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 200px;
    height: 90px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 45px;
    text-align: start;
    margin-top: 1px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
textarea {
    width: 100%;
}
.closeModal {
    position: absolute;
    right: 13rem;
    padding: 1rem;
}