@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  max-width: 1480px;
}


header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100%;
}

h1 {
    color: #D3573C;
    font-size: 36px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    width: 100%;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* h2, */
.photographer_section article h1 {
    color: #D3573C;
    font-size: 36px;
}

/* .photographer_section article img {
    height: 250px;
    width: 250px;
    transform: scale(2);
} */

.card-container{ display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;}
    article  {
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 97%;
    }
    article img {
/* width: 98%; */
/* height: auto; */
/* transform: scale(4); */
width: 100%;
height: 100%;
object-fit: cover;
    }
    .img-container {
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
        overflow: hidden;
    }
.detail-container{ 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;}

  .galleryImg-container img,
  video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    border-radius: 9px;
    box-shadow: grey 3px 2px 15px 1px;
    cursor: pointer;

        }
    section#gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
        .galleryImg-container {
            width: 30%;
            height: 25rem;
            margin: 3rem 1rem;
        }
        #menu {

            height: 1rem;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            right: 31%;
            width: 22%;
            margin-top: 4rem;
            margin-bottom: 7rem;
        }

        #menu>div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        label {
            width: 100%;
        }
        #select_tri {
            font-size: 20px;
            font-weight: bold;
            color: white;
            padding: 11px;
            height: 90px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 100%;
            }

            #select {
                border-bottom: 2px solid white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 4px;
                padding: 3px;
                background-color: #901C1C;
            }

            .title {}

            .date {
                border-bottom: 2px solid white;
                width: 100%;
                margin-bottom: 4px;
                padding: 3px;
          }
        .like-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            font-size: 1.2rem;
        }

        .hart-like {
            font-size: 1.9rem;
            cursor: pointer;
            color: #901c1c;
            margin-left: 5px;
        }

        #like {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 15%;
            align-items: center;
        }
.like-total {
    display: flex;
    flex-direction: row;
    background-color: #db8876;
    position: fixed;
    z-index: 20;
    justify-items: space-between;
    align-items: center;
    justify-content: space-around;

    font-size: 1.5rem;
    width: 16%;
    flex-wrap: wrap;
    text-align: center;
    right: 6rem;
    bottom: 1rem;
    border-radius: 5px;
}

.total-like {
    font-size: 1.8rem;
    padding: 0;
}
.circuit {
    font-size: 1.9rem;
    cursor: pointer;
    color: #901c1c;
    margin-left: 5px;
    position: absolute;
    top: 40%;
    right: 8rem;
}

.close {
    font-size: 3.9rem;
    cursor: pointer;
    color: #901c1c;
    margin-left: 5px;
    position: absolute;
    right: 5%;
    bottom: 91%;
}

.img-lightbox {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72em;
}

.modal-lightbox {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px solid aqua;
    width: 100%;

}

.next {
    right: 5%;

}

.previous {
    left: 5%;

}

.modal-contend {
    height: 86rem;
    object-fit: cover;
	width: 100%;
	position: absolute;

	scale: 0.7;
}

#title_lightbox {
    position: absolute;
    left: 15.54%;
    bottom: 1.86%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    }
.lightbox {
    margin: auto;
    flex-direction: row;
    display: none;
    width: 100%;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.error {
    color: red;
    text-align: end;
}
.succeed {
    background-color: #db8876;
    color: ghostwhite;
    width: 100%;
    text-align: center;
    height: 10em;
    font-size: xx-large;
}
h4 {
    color: #901C1C;
}

p:nth-child(3) {
    color: #525252;
}

.contact_button:hover {
    background-color: #D3573C;
    color: black;
}
.video {
    height: 86rem;
    object-fit: cover;
    width: 100%;
    position: absolute;
    scale: 0.7;
}
#city {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
}
#sum_likes {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #000000;
}

#Price {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    color: #000000;
}