<div class="">
	<div class="Hébergements-Marseille_image">
		<img src="/assets/Sample Photos/Photographers ID Photos/MimiKeel.jpg">
	</div>
	<div class="prix">
		<h4>Auberge la Canebière</h4>
		<p>Nuit à partir de 25€</p>

		<div><i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star fa-star_5"></i>
		</div>

	</div>

</div>

<article>
	<div>
		<div width="100px" hidden="100px"><img src="/assets/Sample Photos/Photographers ID Photos/MimiKeel.jpg"></div>
		<h2>name: "Mimi Keel"</h2>
	</div>
	<h3>city: "London",country: "UK"</h3>
	<p>tagline: "Voir le beau dans le quotidien"</p>
	<p>price: 400</p>
	<div>

	</div>

</article>
<!-- {
	"name": "Mimi Keel",
	"id": 243,
	"city": "London",
	"country": "UK",
	"tagline": "Voir le beau dans le quotidien",
	"price": 400,
	"portrait": "MimiKeel.jpg"
}, -->